@import url("https://use.typekit.net/pzy4nqb.css");

$primary-font: "interstate", sans-serif;
$secondary-font: "kepler-std", serif;


$primary-color: #004C4C;
$secondary-color: #008080;
$dark-grey: #444444;
$light-teal: #B2D8D8;
$accent-color: #F2B56B;
$link-color: #66B2B2;